body {
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   padding: 0;
   color: #888;
}
.grid-overlay {
    background-position: center center;
    background-repeat: repeat;
    position: fixed;
    z-index: -10;
    background-image: url('../img/tiny_grid.png');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.palette {
    min-width: 200px;
    height: 0;
    position: absolute;
    top: 60px;
    left: 50px;
}
.palette-header {
    background-image: -moz-linear-gradient( top, #fff, #efefef );
    background-image: -webkit-gradient(
    linear,left top, left bottom, color-stop(0, #fff), color-stop(1, #efefef)
    );
    background-image: linear-gradient(top, white, #EFEFEF);
    width: auto;
    height: 20px;
    cursor: move;
}
.palette .palette-inner {
    color: white;
    position: absolute;
    width: 100%;
    border-color: rgb(40,56,70);
    border-width: 3px;
    border-style: solid;
    display: inline-block;
}
.palette-inner .palette-header {
    background: rgb(48,62,76);
    color: white;
}
.palette-inner .palette-body {
    background: rgb(62,69,75);
    border-color: rgb(62, 69, 75);
    border-width: 3px;
    border-style: solid;
}
.palette-body {
    position: relative;
}
.palette-group {
    position: relative;
    color: white;
}
.palette-item {
    color: white;
    text-align: left;
    padding: 4px;
    cursor: pointer;
}
.palette-item[class~='highlight'] {
    background: rgba(75, 111, 148, 0.8)
}
.palette-header span {
    padding-left: 8px;
    text-transform: uppercase;
}
[class^="icon-tool-"], [class*=" icon-tool-"] {
    background-position: center center;
    height: 14px;
    line-height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    padding-right: 9px;
}
[class^="icon-tool-"], [class*=" icon-tool-"] {
    background-image: url('../img/Resource.gif');
}
.icon-tool-EClass {
    background-image: url('../img/EClass.gif');
}
.icon-tool-EAttribute {
    background-image: url('../img/EAttribute.gif');
}
.icon-tool-EReference {
    background-image: url('../img/EReference.gif');
}
.icon-tool-EOperation {
    background-image: url('../img/EOperation.gif');
}
.icon-tool-Inheritance {
    background-image: url('../img/Inheritance.gif');
}
