<!DOCTYPE html>
<html>
<head>
    <title>Flow Layout Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div>
        <div id="diagram" style="position: absolute; background: white; top: 0; bottom: 0; left: 0; right: 0; height: 100%;"></div>
    </div>

    <script type="text/javascript" src="../../lib/raphael.js"></script>
    <script type="text/javascript" src="../../lib/underscore.js"></script>
    <script type="text/javascript" src="../../dist/diagrams.js"></script>
    <script type="text/javascript" src="flow.js"></script>
</body>

